<div class="page-header">
<h2><%= @list.name %></h2>
<h6><%= @list.description %></h6>
</div>

<h3>Shit to do</h3>
<ul>
	<% @list.tasks.incomplete.each do |task| %>
	<li><%= link_to "<i class='icon-ok'></i>".html_safe, complete_task_path(@list.id,task.id), class: "btn btn-mini btn-success" %>   <%= task.description %></li>
	<% end %>
</ul>
<br>
<h3>Completed shit</h3>
<ul>
	<% @list.tasks.completed.each do |task| %>
	<li><%= task.description %></li>
	<% end %>
</ul>



<%= form_for [@list, @task = @list.tasks.new] do |form| %>

<p><%= form.text_field :description %> <%= form.submit %></p>

<% end %>
